.md8-left{
    background: #fff;
    height: 424px;
}
.space-frame .widget-body{
    height:374px;
}
.widget-separator {
    margin: 0;
}
.md4-right .right-title{
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    color: #999999;
}
/*dataTable*/
.dataTables_length,.dataTables_filter{
    display: none;
}
/*原有的*/
#default-datatable_info{
    display: none;
}
#default-datatable_paginate{
    display: none;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
    border-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.td-content{
    /*max-width: 336px;*/
    max-width: 165px;
}
.td-files.file_name{
    max-width: 75px;
}
.table > thead > tr > th{
    border-bottom: 0;
}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after{
    display: none!important;
}
td .position-png{
    width: 26px;
    margin-left: 16px;
}
.td-handles>img{
    cursor: pointer;
}
.td-editOver,.td-searchOver{
    display: none;
}
.form-control{
    height: 32px;
}
.fa_caret {
    position: absolute;
    right: 10px;
    top: 8px;
}
.time-input{
    border-radius: 4px;
    height: 34px;
    border: 1px solid #ccc;
}
.modal-body{
    padding: 15px 50px;
}
.modal-footer{
    border-top: 0;
}
.up_btn>.webuploader-pick{
    height: 32px;
    padding: 5px;
    background: #fff!important;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 111px;
    text-align: center;
}
.up_btn img{
    height: 14px;
}
.time_row .col-xs-9 img{
    width: 14px;
    position: absolute;
    top: 9px;
    right: 19px;
}
.widget-header .row>.col-xs-2{
    padding-right: 0;
}
.list-content .widget-header select,.list-content .widget-header input{
    padding-left: 5px;
    color: #999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 32px;
    line-height: 32px;
}
.dataTables_wrapper{
    height: 400px;
}
.list-content .widget{
    padding: 0;
}
table td{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.avatar-sm{
    width: 35px;
    height: 35px;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td{
    vertical-align: middle;
    height: 45px;
    padding: 0;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #999999;
}
.center{
    text-align: center;
}
.table > thead > tr >th{
    font-weight: 700;
    font-style: normal;
    color: #999999;
}
.table > tbody > tr > td:nth-child(1) div{
    margin-left: 23px;
}
.manger-limit{
    border: 2px solid #ffc110;
    padding: 1px;
    border-radius: 6px;
    color: #ffc110;
}
.modal input{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.modal .up-imgFile{
    height: 94px;
    width: 94px;
    border: 2px dashed rgb(217, 217, 217);
    position: relative;
    margin-left: 7px;
}
.modal .up-imgFile img{
    position: absolute;
    left: 32%;
    top: 20%;
}
.modal .up-imgFile div{
    position: absolute;
    left: 36%;
    bottom: 15%;
}
.img-width{
    width: 72px;
    height: 72px;
    left: 9%!important;
    top: 10%!important;
}
.btn:hover, .btn:focus, .btn.focus{
    color: white!important;
}
.btn-default:hover{
    color: #333!important;
    background-color: #fff!important;
    border-color: #ccc!important;
}
.bg-colcorfa{
    background-color: #fafafa;
}
.widget-header select, .widget-header input {
    padding-left: 5px;
    color: #999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 32px;
    line-height: 32px;
}
.position-btn {
    position: absolute;
    right: 10px;
}
.el-form-item__content{
    float: unset!important;
}
.table > thead > tr >th:nth-child(1){
    width: 90px;
}
/*上传图片*/
.avatar-uploader .el-upload {
    margin-left: -0.75rem;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
}
/*追加的*/
.el-dialog__body{
    margin-top: -35px;
    padding: 0;
}
.el-dialog__body .modal-header{
    margin-bottom: 20px;
}
.el-form.demo-ruleForm{
    padding: 0 20px;
}
.el-input__inner{
    height: 30px;
}
.modal-header.primary {
    background-color: #188ae2;
    color: #fff;
}
.ones .col-xs-1{
    padding-right: 0;
}
.ones .add-one{
    width: 100%;
    cursor: pointer;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    border-radius: 3px;
    border: 1px dashed rgba(228, 228, 228, 1);
    color: #188ae2;
}
.el-dialog__header {
    padding: 25px;
    background-color: #188ae2;
    color: #fff;
}
.modal-title {
    color: #fff;
    margin-left: 15px;
    margin-bottom: 20px;
}
.setting-center{
    padding: 20px;
}
.table-responsive{
    position: relative;
}
.table-responsive .pages {
    position: absolute;
    width: 100%;
    bottom: 10px;
}