.md8-left{
    background: #fff;
    width: 100%;
    height: 424px;
    box-shadow: 0 1px 2px #ccc;
}
.space-frame .widget-body{
    height:374px;
}
.widget-separator {
    margin: 0;
}
.md4-right .right-title{
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    color: #999999;
}
/*dataTable*/
.dataTables_length,.dataTables_filter{
    display: none;
}
/*原有的*/
#default-datatable_info{
    display: none;
}
#default-datatable_paginate{
    display: none;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
    border-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.td-content{
    /*max-width: 336px;*/
    max-width: 260px;
}
.td-files .file_name{
    max-width: 75px;
}
.table > thead > tr > th{
    border-bottom: 0;
}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after{
    display: none!important;
}
td .position-png{
    width: 26px;
    margin-left: 16px;
}
.td-handles>img{
    cursor: pointer;
}
.td-editOver,.td-searchOver{
    display: none;
}
.form-control{
    height: 32px;
}
.fa_caret {
    position: absolute;
    right: 10px;
    top: 8px;
}
.time-input{
    border-radius: 4px;
    height: 32px;
    border: 1px solid #ccc;
}
.modal-body{
    padding: 0px 20px;
}
.modal-footer{
    border-top: 0;
}
.up_btn>.webuploader-pick{
    height: 32px;
    padding: 5px;
    background: #fff!important;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 111px;
    text-align: center;
}
.up_btn img{
    height: 14px;
}
.time_row .col-xs-9 img{
    width: 14px;
    position: absolute;
    top: 9px;
    right: 19px;
}
.widget-header .row>.col-xs-2{
    padding-right: 0;
}
.list-content .widget-header select{
    padding-left: 5px;
    color: #999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 32px;
    line-height: 32px;
}
.list-content .widget-header input{
    height: 30px!important;
    line-height: 30px;
    padding-left: 5px;
    color: #999;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
}
.dataTables_wrapper{
    height: 400px;
}
.innerBtn{
    width: 100%;
    text-align: left;
}
.el-input-number.is-controls-right .el-input__inner{
    text-align: left;
}
.el-date-editor .el-range-input{
    height: 25px;
}
.el-form-item__content .el-range-editor.el-input__inner{
    width:100%!important;
}
/*meeting*/
#cycle-meeting .el-input__inner{
    height: 30px!important;
}
#cycle-meeting .sel-input .el-input__inner{
    background: #F2F2F2;
}
#cycle-meeting .el-date-editor .el-range__close-icon{
    margin-top: -3px;
}
/*height*/
.table-responsive{
    height: 880px;
}
.pages{
    position: absolute;
    bottom: 20px;
    width: 100%;
}